@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --background-dark: #212121;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-dark);
}
